.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: exclusion;
}

.point {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: exclusion;
}
